.App {
  /* background-color: purple; */
}

.header-title-bar {
  height: 8.125rem;
  background-color: #c5c7c945;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #434343;
  text-align: center;
}

.App-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 300px;
    cursor: pointer;
    align-items: center;
}

h2{
  transform:translateX(80px)
}

button{
  display: block;
  padding: 10px;
  background-color: rgb(51,153,219);
  color: aliceblue;
  border-radius: 15px;
  transform:translateX(100px);
  cursor: pointer;
}