.App {
  /* background-color: purple; */
}

nav{
  background-color: white;
  padding: 15px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: flex-end
}

li{
  margin-left: 30px;
}

.App-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

input{
  display: block;
}